<!--Footer-->
<section id="footer">
  <div class="footer container">
    <div class="brand">
      <h1><span>S</span>helton <span>N</span>yasha <span>S</span>imbi</h1>
    </div>
    <div class="social-icon">
      <div class="social-item">
        <a
          href="https://github.com/Shelton-beep/"
          target="_blank"
          title="github"
        >
          <img src="../assets/github-logo.png" alt="github" />
        </a>
      </div>
      <div class="social-item">
        <a
          href="https://www.linkedin.com/in/shelton-simbi-750155204/"
          title="LinkedIn"
          target="_blank"
        >
          <img src="../assets/linkedin.png" alt="linkedin" />
        </a>
      </div>
    </div>
    <p>Shelton @ 2022. All rights reserved</p>
  </div>
</section>
<!--End of Footer-->
