<hr />
<marquee behavior="" direction="">About Me</marquee>
<hr />
<!--About Me Section-->
<section id="about" style="margin-top: 0; padding-top: 0">
  <div class="about container">
    <div class="col-left">
      <div class="about-img">
        <img src="../assets/DSC_0934.jpg" alt="aboutMeImage" />
      </div>
    </div>
    <div class="col-right">
      <h1 class="section-title">About <span>me</span></h1>
      <h2>Front End Developer</h2>
      <p>
        Meticulous web developer with over a year of proven front end experience
        at the Judicial Service Commission of Zimbabwe. Passionate about
        responsive web design and a firm believer in the mobile-first approach.
        Capable of continuous learning from senior developers and facilitating
        projects from concept to launch. Eager to tackle more complex problems,
        working in a team and continuing to find ways to maximize user
        efficiency.
      </p>
      <a class="cta" href="#">Download Resume</a>
    </div>
  </div>
</section>
<!--End of About Me Section-->
