<!--Projects Section-->
<section id="projects">
  <div class="projects container">
    <div class="projects-header">
      <h1 class="section-title">Recent <span>Projects</span></h1>
    </div>
    <div class="all-projects">
      <div class="project-item">
        <div class="project-info">
          <h1>Project 1</h1>
          <h2>
            <span
              ><a
                href="https://github.com/Shelton-beep/PersonalPortfolio"
                target="_blank"
                title="View Source Code"
                ><mat-icon>visibility</mat-icon></a
              ></span
            >Personal Portfolio
          </h2>
          <p>
            This is my personal website or portfolio where people can get in
            touch with me or view my resume
          </p>
          <p>
            Technologies used:
            <span style="color: crimson; font-weight: bold"
              >Angular Framework|TypeScript|HTML|CSS</span
            >
          </p>
        </div>
        <div class="project-img">
          <img src="../assets/personalPortfolio.png" alt="img" />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Project 2</h1>
          <h2>
            <span
              ><a
                href="https://github.com/Shelton-beep/StockControlSystemFrontEnd"
                target="_blank"
                title="View Source Code"
                ><mat-icon>visibility</mat-icon></a
              ></span
            >Stock Control System
          </h2>
          <p>
            This is an inventory management system currently being used at the
            Judicial Service Commission
          </p>
        </div>
        <div class="project-img">
          <img src="../assets/stockControl.png" alt="img" />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Project 3</h1>
          <h2>
            <span
              ><a
                href="https://github.com/Shelton-beep/ProjectsCapitalExpenditureManagement"
                target="_blank"
                title="View Source Code"
                ><mat-icon>visibility</mat-icon></a
              ></span
            >Project Capital Expenditure Management
          </h2>
          <p>
            This is a web app used to calculate income and expenses expenditure
          </p>
          <p>
            Technologies used:
            <span style="color: crimson; font-weight: bold"
              >Angular|Bulma CSS FrameWork|MaterialUI|</span
            >
          </p>
        </div>
        <div class="project-img">
          <img src="../assets/budgetCalculator.png" alt="img" />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Project 4</h1>
          <h2>
            <span
              ><a
                href="https://github.com/Shelton-beep/GilGalSecurity"
                target="_blank"
                title="View Source Code"
                ><mat-icon>visibility</mat-icon></a
              ></span
            >GilGal Security
          </h2>
          <p>
            This is a company website for GilGal Security Private Limited which
            i wac contracted to design
          </p>
          <p>
            Technologies used:
            <span style="color: crimson; font-weight: bold"
              >Angular|TypeScript|MaterialUI|Bootstrap</span
            >
          </p>
        </div>
        <div class="project-img">
          <img src="../assets/Gilgal.png" alt="img" />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <a
            href="https://github.com/Shelton-beep?tab=repositories"
            target="_blank"
            class="cta"
            style="font-size: 20px"
            >View More Projects</a
          >
          <h2>For the Love of Programming</h2>
          <p>
            This link will take you to my GitHub Account where you can view more
            projects which i have created and their source code
          </p>
        </div>
        <div class="project-img">
          <a
            href="https://github.com/Shelton-beep?tab=repositories"
            target="_blank"
            ><img src="../assets/2517915.jpg" alt="img"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End of Projects Section-->
