/* Projects Section */
#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
#projects .projects-header h1 {
  margin-bottom: 50px;
}
#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#projects .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}
#projects .project-info {
  padding: 30px;
  flex-basis: 50%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
#projects .project-info h1 {
  font-size: 4rem;
  font-weight: 500;
}
#projects .project-info h2 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 10px;
}
#projects .project-info mat-icon {
  font-size: 30px;
  color: crimson;
  margin-right: 5px;
  width: auto;
  transform: scale(1);
  animation: hamburger_pulse 1s ease infinite;

  &:hover {
    transform: scale(1.5);
    color: green;
    transition: 0.2s ease-out;
    margin-right: 8px;
    animation: hamburger_pulse 0s ease infinite;
  }
}
#projects .project-info p {
  color: white;
}
#projects .project-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#projects .project-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
}
#projects .project-img img {
  transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
  transform: scale(1.1);
}
/* End of Projects Section */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
  /* Projects */
  #projects .project-item {
    flex-direction: row;
  }
  #projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  #projects .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  #projects .all-projects .project-info {
    height: 100%;
  }
  #projects .all-projects .project-img {
    height: 100%;
  }
  /*End of Projects*/
}
/*End of Media Query For Tablet */
