<!--Contact Section-->
<section id="contact">
  <div class="contact container">
    <div style="display: flex; justify-content: space-between">
      <h1 class="section-title">
        <u>Contact <span>info</span></u>
      </h1>

      <!-- Social Media Icons -->
      <div class="social-icon">
        <!-- Icon for GitHub -->
        <div class="social-item">
          <a
            href="https://github.com/Shelton-beep/"
            target="_blank"
            title="github"
          >
            <img src="../assets/github-logo.png" alt="github" />
          </a>
        </div>

        <!-- Icon for LinkedIn -->
        <div class="social-item">
          <a
            href="https://www.linkedin.com/in/shelton-simbi-750155204/"
            title="LinkedIn"
            target="_blank"
          >
            <img src="../assets/linkedin.png" alt="linkedin" />
          </a>
        </div>
      </div>
    </div>

    <!-- Contact Form -->
    <div class="contactForm container">
      <form
        action="https://formsubmit.co/e7aaf12c-83e8-4807-9399-86d8d10e06b3"
        (ngSubmit)="submitForm()"
        method="post"
      >
        <div class="upper-contact" style="justify-content: space-between">
          <!-- Input Field for Name -->
          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              name="name"
              class="form-control"
              [(ngModel)]="name"
              required
            />
            <small>Name</small>
          </div>

          <!-- Input Field for Phone Number -->
          <div class="form-group">
            <label>Phone Number</label>
            <input
              type="text"
              name="phoneNumber"
              class="form-control"
              [(ngModel)]="phoneNumber"
              required
            />
          </div>

          <!-- Input Field for Email -->
          <div class="form-group">
            <label>Email</label>
            <input
              type="email"
              name="email"
              class="form-control"
              [(ngModel)]="email"
              required
            />
          </div>
        </div>

        <!-- Input Field for Message -->
        <div class="form-group">
          <label>Message</label>
          <textarea
            name="message"
            id="message"
            cols="30"
            rows="10"
            class="form-control"
            [(ngModel)]="message"
            required
          ></textarea>
        </div>

        <!-- Button to send message -->
        <button
          style="margin-top: 10px; align-items: center; justify-content: center"
          class="btn btn-success"
        >
          Send Message <mat-icon>send</mat-icon>
        </button>
      </form>
    </div>
  </div>
</section>

<!--End of Contact Section-->
