/* Experience and Skills Section */
#skills .skills-header h1 {
  margin-bottom: 50px;
  font-size: 3rem;
}
#skills .skills {
  flex-direction: column;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}
#skills .all-experiences {
  display: column;
  justify-content: space-around;
}
#skills .experience-item {
  align-items: left;
  display: flex;
  margin-top: 10px;
}
#skills .experience-date {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid transparent;
  background-color: lightcoral;
  width: 120px;
  border-radius: 25px;
}
#skills .experience-info {
  background-color: transparent;
}
#skills .icon-display {
  padding-right: 15px;
  padding-left: 30px;
  align-items: center;
  justify-content: center;
}
#skills .icon {
  background-color: lightcoral;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
#skills mat-icon {
  color: white;
  margin-top: 15px;
  font-size: 20px;
}
#skills .vl {
  border-left: 2px solid lightcoral;
  height: 100px;
  margin-top: 0;
  margin-left: 25px;
}
#skills .all-tech {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
#skills .tech-title {
  font-weight: bold;
  font-size: 20px;
}
#skills .all-tech {
  flex-direction: column;
  padding: 10px;
}
#skills .tech-item {
  padding: 10px;
}
#skills .experience-info ul li {
  font-size: 15px;
}
#skills .tech-item ul li {
  list-style: none;
}
#skills .technologies h1 {
  margin-top: 20px;
  padding-top: 40px;
  color: crimson;
}

/* End of Experience and Skills Section */

/* Media Query for Desktop */
@media only screen and (min-width: 1200px) {
  /* Experience and Skills */
  #skills .all-experiences {
    display: flex;
    justify-content: space-around;
  }
  #skills .skills-header h1 {
    margin-bottom: 50px;
    font-size: 4rem;
  }
  #skills .experience-date {
    text-align: center;
  }
  #skills .all-tech {
    flex-direction: row;
    padding: 10px;
  }
  /* End of Experience and Skills */
}
/* End of Media Query for Desktop */
