@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:host {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  color: black;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.5rem;
  margin-top: 5px;
  letter-spacing: 0.05rem;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
.section-title span {
  color: crimson;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid crimson;
  border-radius: 25px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
.cta:hover {
  color: white;
  background-color: crimson;
}
.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}
.brand h1 span {
  color: crimson;
}

/*Header Section*/
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}
#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  transition: 0.3s ease background-color;
}
.header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}
#header .header-change {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#header .nav-list ul.active {
  left: 0;
}
#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
  cursor: pointer;
}
#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
}
#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
  transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a {
  color: crimson;
}
#header .hamburger {
  z-index: 100;
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}
#header .hamburger::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_pulse 1s ease infinite;
}
#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
#header .hamburger .bar::after {
  top: 8px;
}
#header .hamburger .bar::before {
  bottom: 8px;
}
#header .hamburger.active .bar::before {
  bottom: 0;
}
#header .hamburger.active .bar::after {
  top: 0;
}
/*End of Header Section*/

/* Hero Section*/
#hero {
  background-image: url(../assets/rear-view-programmer-working-all-night-long.jpg); //alternate pic exist
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}
#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#hero h1 {
  display: block;
  width: fit-content;
  font-size: 3rem;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}
#hero h1:nth-child(1) {
  animation-delay: 1s;
}
#hero h1:nth-child(2) {
  animation-delay: 2s;
}
#hero h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
}
#hero h1:nth-child(4) {
  animation: text_reveal_name1 0.5s ease forwards;
  animation-delay: 4s;
}
#hero h1:nth-child(5) {
  animation: text_reveal_name1 0.5s ease forwards;
  animation-delay: 4s;
}
#hero h1:nth-child(6) {
  animation: text_reveal_name1 0.5s ease forwards;
  animation-delay: 4s;
}
#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: crimson;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.3s;
}
#hero h1:nth-child(1) span {
  animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
  animation-delay: 2.5s;
}
#hero h1:nth-child(4) span {
  animation-delay: 3.5s;
  background-color: gray;
}
#hero h1:nth-child(5) span {
  animation-delay: 3.5s;
  background-color: gray;
}
#hero h1:nth-child(6) span {
  animation-delay: 3.5s;
  background-color: gray;
}

/* End of Hero section*/

/*KeyFrames*/
@keyframes hamburger_pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: white;
  }
}
@keyframes text_reveal_name {
  100% {
    color: crimson;
    font-weight: 500;
  }
}
@keyframes text_reveal_name1 {
  100% {
    color: gray;
  }
}
/*KeyFrames*/

/* Projects Section */
#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
#projects .projects-header h1 {
  margin-bottom: 50px;
}
#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#projects .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
#projects .project-info {
  padding: 30px;
  flex-basis: 50%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
#projects .project-info h1 {
  font-size: 4rem;
  font-weight: 500;
}
#projects .project-info h2 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 10px;
}
#projects .project-info p {
  color: white;
}
#projects .project-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#projects .project-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
}
#projects .project-img img {
  transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
  transform: scale(1.1);
}
/* End of Projects Section */

/* Experience and Skills Section */
#skills .skills-header h1 {
  margin-bottom: 50px;
  font-size: 3rem;
}
#skills .skills {
  flex-direction: column;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}
#skills .all-experiences {
  display: column;
  justify-content: space-around;
}
#skills .experience-item {
  align-items: left;
  display: flex;
  margin-top: 10px;
}
#skills .experience-date {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid transparent;
  background-color: lightcoral;
  width: 120px;
  border-radius: 25px;
}
#skills .experience-info {
  background-color: transparent;
}
#skills .icon-display {
  padding-right: 15px;
  padding-left: 30px;
  align-items: center;
  justify-content: center;
}
#skills .icon {
  background-color: lightcoral;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
#skills mat-icon {
  color: white;
  margin-top: 15px;
  font-size: 20px;
}
#skills .vl {
  border-left: 2px solid lightcoral;
  height: 100px;
  margin-top: 0;
  margin-left: 25px;
}
#skills .all-tech {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
#skills .tech-title {
  font-weight: bold;
  font-size: 20px;
}
#skills .all-tech {
  flex-direction: column;
  padding: 10px;
}
#skills .tech-item {
  padding: 10px;
}
#skills .experience-info ul li {
  font-size: 15px;
}
#skills .tech-item ul li {
  list-style: none;
}
#skills .technologies h1 {
  margin-top: 20px;
  padding-top: 40px;
  color: crimson;
}

/* End of Experience and Skills Section */

/* About Me Section */
#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}
#about .col-left {
  width: 250px;
  height: 360px;
}
#about .col-right {
  width: 100%;
}
#about .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
  padding-top: 10px;
}
#about .col-right p {
  margin-bottom: 20px;
}
#about .col-right .cta {
  margin-bottom: 20px;
  color: black;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}
#about .col-left .about-img {
  width: fit-content;
  height: 100%;
  background-color: black;
  position: relative;
  border: 10px solid white;
}
#about .col-left .about-img::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 7px solid crimson;
  z-index: -1;
}
/* End of About Me Section */

/* Contact Info Section */
#contact .contact {
  flex-direction: column;
}
#contact .form {
  margin-top: 30px;
  padding-top: 30px;
}
#contact .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
/* End of Contact Info Section */

/* Footer */
#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}
#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}
#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}
#footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}
#footer .social-item:hover img {
  filter: grayscale(0);
}
#footer p {
  color: white;
  font-size: 1.3rem;
}
/*End of Footer */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  h1.section-title {
    font-size: 6rem;
  }

  /*Hero*/
  #hero h1 {
    font-size: 5rem;
    padding: 15px;
  }
  /* End of Hero*/

  /* Projects */
  #projects .project-item {
    flex-direction: row;
  }
  #projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  #projects .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  #projects .all-projects .project-info {
    height: 100%;
  }
  #projects .all-projects .project-img {
    height: 100%;
  }
  /*End of Projects*/

  /*About*/
  #about .about {
    flex-direction: row;
  }
  #about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }
  #about .about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid crimson;
  }
  #about .col-right {
    text-align: left;
    padding: 30px;
  }
  #about .col-right h1 {
    text-align: left;
  }
  /*End of About*/
}
/*End of Media Query For Tablet */

/* Media Query for Desktop */
@media only screen and (min-width: 1200px) {
  /* header */
  #header .hamburger {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul a {
    font-size: 1.5rem;
  }
  #header .nav-list ul a::after {
    display: none;
  }
  /* End of header */

  /* Experience and Skills */
  #skills .all-experiences {
    display: flex;
    justify-content: space-around;
  }
  #skills .skills-header h1 {
    margin-bottom: 50px;
    font-size: 4rem;
  }
  #skills .experience-date {
    text-align: center;
  }
  #skills .all-tech {
    flex-direction: row;
    padding: 10px;
  }
  /* End of Experience and Skills */
}
/* End of Media Query for Desktop */
