<html>
  <!--Header-->
  <section id="header">
    <div class="header container-fluid" [class.header-change]="header_variable">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero"
            ><h1><span>SNS</span></h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger"><div class="bar"></div></div>
          <ul>
            <li>
              <a href="#hero" data-after="Home">Home</a>
            </li>
            <li>
              <a href="#projects" data-after="Projects">Projects</a>
            </li>
            <li>
              <a href="#skills" data-after="Skills">Experience and Skills</a>
            </li>
            <li>
              <a href="#about" data-after="About">About</a>
            </li>
            <li (click)="openContactForm()">
              <a data-after="Contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!--End of Header-->

  <!--Hero Section-->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Hello,<span></span></h1>
        <h1>my name is <span></span></h1>
        <h1>Shelton Nyasha Simbi <span></span></h1>
        <a (click)="openContactForm()" type="button" class="cta"
          >Get in Touch</a
        >
      </div>
    </div>
  </section>
  <!--End of Hero Section-->

  <!--Projects Section-->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Recent <span>Projects</span></h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>Project 1</h1>
            <h2>Personal Portfolio</h2>
            <p>
              This is my personal website or portfolio where people can get in
              touch with me or view my resume
            </p>
            <p>
              Technologies used:
              <span style="color: crimson"
                >Angular Framework|TypeScript|HTML|CSS</span
              >
            </p>
          </div>
          <div class="project-img">
            <img src="../assets/2517915.jpg" alt="img" />
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 2</h1>
            <h2>Stock Control System</h2>
            <p>
              This is an inventory management system currently being used at the
              Judicial Service Commission
            </p>
          </div>
          <div class="project-img">
            <img src="../assets/2517915.jpg" alt="img" />
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 3</h1>
            <h2>Coding is Love</h2>
            <p>hsgjfsgjdfgdgjhgfjfsdjfhdsvghvjvh</p>
          </div>
          <div class="project-img">
            <img src="../assets/2517915.jpg" alt="img" />
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 4</h1>
            <h2>Coding is Love</h2>
            <p>hsgjfsgjdfgdgjhgfjfsdjfhdsvghvjvh</p>
          </div>
          <div class="project-img">
            <img src="../assets/2517915.jpg" alt="img" />
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 5</h1>
            <h2>Coding is Love</h2>
            <p>hsgjfsgjdfgdgjhgfjfsdjfhdsvghvjvh</p>
          </div>
          <div class="project-img">
            <img src="../assets/2517915.jpg" alt="img" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End of Projects Section-->

  <!--Experience and Skills Section-->
  <section id="skills">
    <div class="skills container">
      <div class="skills-header">
        <h1 class="section-title">
          Exper<span>ience</span> a<span>n</span>d <span>Ski</span>lls
        </h1>
      </div>
      <div class="all-experiences">
        <div class="experience-item">
          <div class="icon-display">
            <div class="icon">
              <mat-icon>work</mat-icon>
            </div>
            <div class="vl"></div>
          </div>
          <div class="experience-info">
            <h5 class="experience-date">March to present</h5>
            <h2 class="experience-title">
              <b>Front End Software Developer-</b>Judicial Service Commission
            </h2>
            <p class="experience-duties">Main responsibilities:</p>
            <ul>
              <li>Responsive Web Design</li>
              <li>
                Producing, maintaining and modifying websites and user
                interfaces
              </li>
              <li>
                Routinely testing websites for ease of use, speed and other
                quality factors
              </li>
              <li>Fixing any website issues or bugs that arise</li>
            </ul>
          </div>
        </div>
        <div class="experience-item">
          <div class="icon-display">
            <div class="icon">
              <mat-icon>work_outline</mat-icon>
            </div>
            <div class="vl"></div>
          </div>
          <div class="experience-info">
            <h5 class="experience-date">August 2019 to December 2020</h5>
            <h2 class="experience-title">
              <b>IT Support and Software Developer Intern-</b>Judicial Service
              Commission
            </h2>
            <p class="experience-duties">Main responsibilities:</p>
            <ul>
              <li>Maintaining and improving company website</li>
              <li>designing, development and deployment of company systems</li>
              <li>designing and developing RESTful APIs</li>
            </ul>
          </div>
        </div>

        <div class="experience-item">
          <div class="icon-display">
            <div class="icon">
              <mat-icon>school</mat-icon>
            </div>
            <div class="vl"></div>
          </div>
          <div class="experience-info">
            <h5 class="experience-date" style="width: 200px">
              August 2017 - JUNE 2021
            </h5>
            <h2 class="experience-title">
              <b>Bachelor's degree: Business Studies and Computing Science -</b>
              <p>UNIVERSITY OF ZIMBABWE</p>
            </h2>
          </div>
        </div>
      </div>
      <div class="technologies">
        <h1>
          <u>Here are the technologies I've been working with recently:</u>
        </h1>
        <div class="all-tech">
          <div class="tech-item">
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title class="tech-title" [style]="'color:green'">
                    Languages
                  </mat-panel-title>
                </mat-expansion-panel-header>
              </mat-expansion-panel>
              <mat-expansion-panel
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title>Click to view languages</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <ul>
                  <li *ngFor="let language of languages">{{ language }}</li>
                </ul>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="tech-item">
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title class="tech-title" [style]="'color:orange'">
                    Frameworks
                  </mat-panel-title>
                </mat-expansion-panel-header>
              </mat-expansion-panel>
              <mat-expansion-panel
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title> Click to view frameworks </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <ul *ngFor="let framework of frameworks">
                  <li>{{ framework }}</li>
                </ul>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="tech-item">
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title class="tech-title" [style]="'color:crimson'">
                    Tools
                  </mat-panel-title>
                </mat-expansion-panel-header>
              </mat-expansion-panel>
              <mat-expansion-panel
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Click to view development tools
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <ul *ngFor="let tool of tools">
                  <li>{{ tool }}</li>
                </ul>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End of Experience and Skills Section-->

  <hr />
  <marquee behavior="" direction="">About Me</marquee>
  <hr />
  <!--About Me Section-->
  <section id="about" style="margin-top: 0; padding-top: 0">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="../assets/DSC_0934.jpg" alt="aboutMeImage" />
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>me</span></h1>
        <h2>Front End Developer</h2>
        <p>
          Meticulous web developer with over a year of proven front end
          experience at the Judicial Service Commission of Zimbabwe. Passionate
          about responsive website design and a firm believer in the
          mobile-first approach. Capable of continuous learning from senior
          developers and facilitating projects from concept to launch. Eager to
          tackle more complex problems, working in a team and continuing to find
          ways to maximize user efficiency.
        </p>
        <a class="cta" href="#">Download Resume</a>
      </div>
    </div>
  </section>
  <!--End of About Me Section-->

  <!--Footer-->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>S</span>helton <span>N</span>yasha <span>S</span>imbi</h1>
      </div>
      <div class="social-icon">
        <div class="social-item">
          <a
            href="https://github.com/Shelton-beep/"
            target="_blank"
            title="github"
          >
            <img src="../assets/github-logo.png" alt="github" />
          </a>
        </div>
        <div class="social-item">
          <a
            href="https://www.linkedin.com/in/shelton-simbi-750155204/"
            title="LinkedIn"
            target="_blank"
          >
            <img src="../assets/linkedin.png" alt="linkedin" />
          </a>
        </div>
      </div>
      <p>Shelton @ 2022. All rights reserved</p>
    </div>
  </section>
  <!--End of Footer-->
</html>
