<!--Hero Section-->
<section id="hero">
  <div class="hero container">
    <div>
      <h1>Hello,<span></span></h1>
      <h1>my name is <span></span></h1>
      <h1>Shelton Nyasha Simbi <span></span></h1>
      <h1>I'm a Front End <span></span></h1>
      <h1>Software <span></span></h1>
      <h1>Developer. <span></span></h1>
      <a href="#" type="button" class="cta">Get in Touch</a>
    </div>
  </div>
</section>
<!--Hero Section-->
<mat-grid-list cols="4" rowHeight="200px">
  <mat-grid-tile
    *ngFor="let tile of tiles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color"
  >
    {{ tile.text }}
  </mat-grid-tile>
</mat-grid-list>
<!--Projects Section-->
<section id="projects">
  <div class="projects container">
    <div class="projects-header">
      <h1 class="section-title">Recent <span>Projects</span></h1>
    </div>
    <div class="all-projects">
      <div class="project-item">
        <div class="project-info">
          <h1>Project 1</h1>
          <h2>Coding is Love</h2>
          <p>hsgjfsgjdfgdgjhgfjfsdjfhdsvghvjvh</p>
        </div>
        <div class="project-img">
          <img src="../assets/2517915.jpg" alt="img" />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Project 2</h1>
          <h2>Coding is Love</h2>
          <p>hsgjfsgjdfgdgjhgfjfsdjfhdsvghvjvh</p>
        </div>
        <div class="project-img">
          <img src="../assets/2517915.jpg" alt="img" />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Project 3</h1>
          <h2>Coding is Love</h2>
          <p>hsgjfsgjdfgdgjhgfjfsdjfhdsvghvjvh</p>
        </div>
        <div class="project-img">
          <img src="../assets/2517915.jpg" alt="img" />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Project 4</h1>
          <h2>Coding is Love</h2>
          <p>hsgjfsgjdfgdgjhgfjfsdjfhdsvghvjvh</p>
        </div>
        <div class="project-img">
          <img src="../assets/2517915.jpg" alt="img" />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Project 5</h1>
          <h2>Coding is Love</h2>
          <p>hsgjfsgjdfgdgjhgfjfsdjfhdsvghvjvh</p>
        </div>
        <div class="project-img">
          <img src="../assets/2517915.jpg" alt="img" />
        </div>
      </div>
    </div>
  </div>
</section>
<!--Projects Section-->
