<section id="temporary-contact">
  <div class="contact container">
    <div>
      <h1 class="section-title">Contact <span>Info</span></h1>
    </div>
    <div class="contact-items">
      <div class="contact-item">
        <div class="icon"><mat-icon>contact_phone</mat-icon></div>
        <div class="contact-info">
          <h1>Phone</h1>
          <h2>+263 785 463 154</h2>
          <h2>+263 732 501 910</h2>
        </div>
      </div>
      <div class="contact-item">
        <div class="icon"><mat-icon>email</mat-icon></div>
        <div class="contact-info">
          <h1>Email</h1>
          <h2>shltnsimbi@gmail.com</h2>
        </div>
      </div>
      <div class="contact-item">
        <div class="icon"><mat-icon>location_on</mat-icon></div>
        <div class="contact-info">
          <h1>Address</h1>
          <h2>10616 Southlands Park</h2>
        </div>
      </div>
    </div>
  </div>
</section>
