/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:host {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 2em;
  }
}
.change-color {
  background-color: crimson;
  border-radius: 8px;
  margin-left: 5px;
  transition: background-color 0.5s ease-out;
}
a {
  text-decoration: none;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  color: black;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.5rem;
  margin-top: 5px;
  letter-spacing: 0.05rem;
}

.section-title {
  font-size: clamp(1rem, 2.5vw, 4rem);
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: auto;
}
.section-title span {
  color: crimson;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid crimson;
  border-radius: 25px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
.cta:hover {
  color: white;
  background-color: crimson;
}
.brand h1 {
  font-size: clamp(1rem, 2.5vw, 3rem);
  text-transform: uppercase;
  color: white;
}
.brand h1 span {
  color: crimson;
}

//customizing scrollbar
*body::-webkit-scrollbar {
  width: 1.5em;
}
*body::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin: 5px;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
*body::-webkit-scrollbar-thumb {
  background: rgb(102, 0, 0);
  border: 0.25em solid hsl(120 75% 50% / 1);
  border-radius: 100vw;
}
*body::-webkit-scrollbar-thumb:hover {
  background: crimson;
}
@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: linear-gradient(60deg, #29323c 0%, #485563 100%)
      rgb(102, 0, 0);
  }
}

/*KeyFrames*/
@keyframes hamburger_pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: white;
  }
}
@keyframes text_reveal_name {
  100% {
    color: crimson;
    font-weight: 500;
  }
}
@keyframes text_reveal_name1 {
  100% {
    color: gray;
  }
}
/*KeyFrames*/
/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  h1.section-title {
    font-size: 6rem;
  }
}
/*End of Media Query For Tablet */
